<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RIOT TV - Observe the riot</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/jquery.terminal.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.terminal-min.js"></script>
    <script src="js/sigma.min.js"></script>
    <script src="js/plugins/sigma.plugins.animate.min.js"></script>
    <script src="js/root.js"></script>
  </head>
  <body>

    <div id="console-button" class="show"></div>
    <div id="console">
    </div>

    <div id="tvscreen"></div>

  </body>
</html>
